

<div class="card mt-4">
    <div class="card-header">
        <h3>My Profile</h3>
    </div>

    <div class="card-body">
        <h3> Image Profile :</h3>
        <div class="image-preview">
            <img src="images/registeration.jpg" alt="Profile Image" id="profileImagePreview" class="rounded-circle">
        </div>
     <h3> Name :<span> Marina Samir</span></h3>
     <h3> Phone :<span> 01201242302</span></h3>
     <h3> Email :<span>marinasamir15102001gmail.com </span></h3>
    
   
  
    </div>
</div>
