
.contact-info{
    background-color: #231930;
    margin-top: 0; 
}
.cardlayer i:hover{
background-color: #8967B3 !important;
color:white !important;
transition: all 0.5s;
}
.wave-animation {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .wave-animation path {
    animation: wave 8s ease-in-out infinite;
  }
  
  @keyframes wave {
    0% {
      d: path("M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    50% {
      d: path("M0,256L48,240C96,224,192,192,288,176C384,160,480,128,576,144C672,160,768,208,864,213.3C960,219,1056,181,1152,192C1248,203,1344,245,1392,266.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    100% {
      d: path("M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
  }
  .formsearch .form-control{
    background-color: #9370bd;
    border:none;
    /* border-radius: 0 !important;  */
    
}
.formsearch i{
    background-color:  #ba9ddd;
    padding: 20px;
  border-radius: 20%;
}