
.navbar-nav .nav-link.active{
    color:#fff;
    font-size:14px;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif;

}
.navbar-nav .nav-link{
    color:#fff;
    font-size:14px;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif;

}
.logo{
    width:110px
}
.formsearch .form-control{
    background-color: #9370bd;
    border:none;
    /* border-radius: 0 !important;  */
    
}
.formsearch i{
    background-color:  #ba9ddd;
    padding: 20px;
  border-radius: 20%;
}
.navbar{
    background-color: rgba(19, 18, 18, 0.295);
}
.navbar-nav .nav-item{
    padding-inline: 10px;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.navbar-toggler{
    border:none;
    
}
.navbar-toggler .fa-bars{
    font-size: 25px;
   
    
} 

.navbar-toggler:focus{
    box-shadow: none;

}
.navbar-nav .nav-link.active{
    position: relative;
    
   border:#8967B3 3px solid;
   border-radius: 40%;
}
.navbar-nav .nav-link.active::before{
    content: "";
width:72%;
height: 2px;
background-image: linear-gradient(to right,#9370bd,#CB80AB);
position: absolute;
left:15%;
top:70%; 
opacity: 1;
}
.navbar-nav .nav-link{
    position: relative;
}
.navbar-nav .nav-link::before{
content: "";
 width:0%;
height: 2px;
background-image: linear-gradient(to right,#8967B3,#CB80AB);
position: absolute;
left:15%;
top:70%; 
transition: all 0.5s;
-webkit-transition:all 0.5s ;
-moz-transition:all 0.5s ;
-ms-transition:all 0.5s;
-o-transition:all 0.5s;
opacity: 0;
 
}

.navbar-nav .nav-link:focus::before{
 width:72%;
 opacity: 1;
}
@media screen and (max-width :990px){
    
    .navbar-nav .nav-link.active::before{
        width: 45px;
        left:50%;
        background-color:black;
        transform: translate(-50%);
        -webkit-transform:translate(-50%) ;
        -moz-transform:translate(-50%) ;
        -ms-transform:translate(-50%);
        -o-transform:translate(-50%);
        
    }
    .navbar-nav{
        background-color: #fff;
        padding-block: 15px;
        text-align: center;
        
    }
    .navbar-nav .nav-link.active{
        color:black;
        font-weight: 100;
        padding-block: 12px;
        
        font-size: 13px;
    }
    .navbar-nav .nav-link{
        color:black;
        font-weight: 100;
        padding-block: 12px;
        font-size: 13px;
    }
    

}

.btn-register{
    background-image:linear-gradient(to right,rgba(185, 172, 185, 0.521),rgba(37, 22, 172, 0.521)) ; 
    transition: all 1s;
    color:#DBCC95;
    margin-left:4px;
}
.btn-register:hover{
    color:#CD8D7A;
    background-color:rgba(137, 22, 172, 0.521) ;
}
.imgprofile{
    width: 80px;
    margin:8px;
}
.notifiaction{
    color: #9370bd !important;
}