<section id="work">
    <div class="about-info mb-5 mt-5 text-center">
        <h2>Work Previous</h2>
      </div>
    <div class="work-cars overflow-auto">
        <div class="containerworkcars">
            <div class="container">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-8 m-auto mt-5">
                                <div class="content1  text-center ">
                                    <img src="images/work2.png"class="rounded-circle mb-3 work " alt="work1">
                                    
                                    <h4 class="text-white ">XAVI ALONSO</h4>
                                    <p class="lead pb-1 text-white ">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-8 m-auto mt-5">
                                <div class="content1  text-center ">
                                    <img src="images/work3.png"class="rounded-circle mb-3 work" alt="work2">
                                    
                                    <h4 class="text-white " >MARTA SOCRATE</h4>
                                    <p class="lead pb-1 text-white">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    
                                </div>
                            </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="carousel-indicators d-flex align-items-center  mt-3">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                       
                      </div>
                  </div>
            </div>  
        </div>
    </div>
   

    </section>

