<header id="home" class="vh-100 ">
        
    <div class="home-info mx-auto text-white text-center">
     <h1 class="fw-bold">Hello</h1>
     <span class=" fw-light"><span class="auto-type fw-normal"></span></span>
    <div class="home-icons d-flex gap-2 mt-5 justify-content-center">
        <i class="fa-brands fa-facebook p-2 rounded-circle bg-black bg-opacity-50"></i>
        <i class="fa-brands fa-twitter p-2 rounded-circle bg-black bg-opacity-50"></i>
        <i class="fa-brands fa-linkedin p-2 rounded-circle bg-black bg-opacity-50"></i>
        <i class="fa-brands fa-behance p-2 rounded-circle bg-black bg-opacity-50"></i>
        <i class="fa-brands fa-youtube p-2 rounded-circle bg-black bg-opacity-50"></i>
    </div>
    </div>
   </header>
<app-about></app-about>
<app-courses></app-courses>
<app-work-pervious></app-work-pervious>