<section id="profile">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar bg-light">
                <div class="text-center mb-4 imgdiv">
                    <img src="images/registeration.jpg" alt="User Avatar" class="rounded-circle profile-avatar">
                    <h4 class="mt-2">Jolia John</h4>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a  class="nav-link" routerLinkActive="active" routerLink="viewProfile">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="notification">Notification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="editProfile">Edit Profile</a>
                    </li>
                </ul>
            </div>

            <!-- Profile Content -->
            <div class="col-md-9 profile-content">
                <!-- Router outlet for child routes -->
                 <div class="container">
                    <div class=" mycontainer">
                <router-outlet></router-outlet>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>
